<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Admin page
                    </a>
                </li>
               
                <li>
                    <a href="/admin_all">전 회원 관리</a>
                </li>
                <li>
                    <a href="/admin_mentor">멘토 관리</a>
                </li>
                <li>
                    <a href="/admin_apply">멘토 신청</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>전 회원 관리</h1>
                        <table class="table table-bordered">
                        	<thead>
						      <tr>
						      	<th>grade</th>
						        <th>e.mail</th>
						        <th>name</th>
						        <th>phone number</th>
						      </tr>
						    </thead>
						    <tbody>
						    	<% @all_users.each do |p|%>
							    	<tr>
							    		<td>
							    			<%if p.grade==2%>
							    				멘토
						    				<%else%>
						    					일반
						    				<%end%>
						    			</td>
			                        	<td><%=p.email%></td>
			                        	<td><%=p.username%></td>
			                        	<td><%=p.phone%> <a href='/admin_destroy?id=<%=p.id%>'>삭제</a></td>
		                    		</tr>
		                		<%end%>
					    	</tbody>
						</table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
