<section>
    <div class="wrapper_banner">
        <div class="banner">
            <%= image_tag("logo.png")  %>
            <img src = " <%= image_path 'logo.png' %> " >
        </div>
    </div>
</section>