<link rel="stylesheet" href="/static/css/sample-chat.css">
  <div class="init-check"></div>

  <div class="sample-body">

    <!-- left nav -->
    <!--<div class="left-nav">-->
    <!--  <div class="left-nav-channel-select">-->
    <!--    <button type="button" class="left-nav-button left-nav-open" id="btn_open_chat">-->
    <!--      오픈채팅-->
    <!--      <div class="left-nav-button-guide"></div>-->
    <!--    </button>-->
    <!--    <button type="button" class="left-nav-button left-nav-messaging" id="btn_messaging_chat">-->
    <!--      1:1 채팅-->
    <!--      <div class="left-nav-button-guide"></div>-->
    <!--    </button>-->
    <!--  </div>-->

    <!--  <div class="left-nav-channel-section">-->
    <!--    <div class="left-nav-channel-title">오픈채팅</div>-->
    <!--    <div class="left-nav-channel-empty">오픈 채팅을 시작하세요</div>-->
    <!--    <div id="open_channel_list"></div>-->

    <!--    <div class="left-nav-channel-title title-messaging">1:1 채팅</div>-->
    <!--    <div id="messaging_channel_list"></div>-->
    <!--  </div>-->

    <!--  <div class="left-nav-user">-->
    <!--    <div class="left-nav-user left-nav-user-icon"></div>-->
    <!--    <div class="left-nav-user left-nav-login-user">-->
    <!--      <div class="left-nav-user left-nav-user-title">username</div>-->
    <!--      <div class="left-nav-user left-nav-user-nickname"></div>-->
    <!--    </div>-->
    <!--  </div>-->

    <!--</div> -->
    <!-- // end left nav -->


    <!-- chat section -->
    <div class="right-section">
      <!-- modal-bg -->
      <div class="right-section__modal-bg"></div>

      <!-- top -->
      <!--<div class="chat-top">-->
      <!--  <div class="chat-top__title"></div>-->
      <!--  <div class="chat-top-button">-->

      <!--    <div class="chat-top__button chat-top__button-invite">초대</div>-->
      <!--    <div class="modal-guide-user">-->
      <!--      유저 리스트-->
      <!--    </div>-->

      <!--    <div class="chat-top__button chat-top__button-member"></div>-->
      <!--    <div class="modal-guide-member">-->
      <!--      접속 중인 유저-->
      <!--    </div>-->

      <!--    <div class="chat-top__button chat-top__button-leave"></div>-->
      <!--    <div class="modal-guide-leave">-->
      <!--      나가기-->
      <!--    </div>-->

      <!--  </div>-->
      <!--</div>-->

      <!-- channel empty -->
      <div class="chat-empty">
        <div class="chat-empty chat-empty__tile">345채팅을 시작하세요</div>
        <button type="button" class="modal-messaging-bottom__button" onclick="startMessaging()">아자아자 화이팅</button>

      </div>

      <!-- chat -->
      <div class="chat">
        <div class="chat-canvas"></div>

        <div class="chat-input">
          <label class="chat-input-file" for="chat_file_input">
            <input type="file" name="file" id="chat_file_input" style="display: none;">
          </label>
          <div class="chat-input-text">
            <textarea class="chat-input-text__field" placeholder="내용을 입력하세요" disabled="true"></textarea>
          </div>
        </div>
        <label class="chat-input-typing"></label>
      </div>

    </div> <!-- // end chat section -->

  </div>

  <!-----------------------
            modal
  ------------------------>

  <div class="modal-open-chat">
    <div class="modal-open-chat-top">
            <label class="modal-messaging-top__title">오픈채팅</label>
    </div>
    <div class="modal-open-chat-list"></div>
    <div class="modal-open-chat-more">
      <div class="modal-open-chat-more__text">MORE<div class="modal-open-chat-more__icon"></div></div>
    </div>
  </div>

  <div class="modal-messaging">
    <div class="modal-messaging-top">
      <label class="modal-messaging-top__title">1:1 채팅</label>
    </div>
    <div class="modal-messaging-list">
      <div class="modal-messaging-list__item">Username1<div class="modal-messaging-list__icon"></div></div>
      <div class="modal-messaging-list__item">Username2<div class="modal-messaging-list__icon modal-messaging-list__icon--select"></div></div>

      <div class="modal-messaging-more">MORE<div class="modal-messaging-more__icon"></div></div>
    </div>
    <div class="modal-messaging-bottom">
      <button type="button" class="modal-messaging-bottom__button" onclick="startMessaging()">채팅 시작</button>
    </div>
  </div>

  <div class="modal-member">
    <div class="modal-member-title">현재 유저</div>
    <div class="modal-member-list"></div>
  </div>

  <div class="modal-invite">
    <div class="modal-invite-title">유저 리스트</div>
    <div class="modal-invite-top">
      <label class="modal-messaging-top__title modal-invite-top__title">1:1 채팅</label>
    </div>
    <div class="modal-messaging-list modal-invite-list">

    </div>
    <div class="modal-invite-bottom">
      <button type="button" class="modal-invite-bottom__button" onclick="inviteMember()">초대</button>
    </div>
  </div>

  <div class="modal-leave-channel">
    <div class="modal-leave-channel-card">
      <div class="modal-leave-channel-title">나가시겠습니까?</div>
      <div class="modal-leave-channel-desc">채팅 나가게요?</div>
      <div class="modal-leave-channel-separator"></div>
      <div class="modal-leave-channel-bottom">
        <button type="button" class="modal-leave-channel-button modal-leave-channel-close">아니오</button>
        <button type="button" class="modal-leave-channel-button modal-leave-channel-submit">네</button>
      </div>
    </div>
  </div>
  <!-----------------------
        // END modal
  ------------------------>

  <script src="/static/lib/SendBird.min.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/chat.js"></script>
