<header>
    <div class="img_header3">
        <div class="wrapper_header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="basic_header">
                <div class="logo">
                    <a href="/">                  
                    <img src = " <%= image_path 'logo.png' %>" id='logo'> 
                    </a>
                </div>
                <div class="menu">
                    <nav>
                        <div class="nav">
                            <div class="li menu_service"><a href="/service" class="li_a">서비스</a></div>
                            <div class="li mene_help"><a href="/help" class="li_a">도움말</a></div>
                            <div class="li menu_user">
                                <a href="/mypage" class="li_a ">안녕하세요! <%= @user.username %>님</a>
                                <div class="user_scroll">
                                    <ul>
                                        <li class="my_page"><a href="/mypage">마이페이지</a></li>
                                      <% if @user.grade == 2 %>
                                          <li class="mentoring_page"><a href="/mentor_view">멘토페이지</a></li>
                                      <% end %>
                                        <li class="log_out"><a href="/users/sign_out">로그아웃</a></li>
                                    </ul>
                                </div>
                            </div>
                            <% if @user.grade == 1 %>
                            <div class="li menu_admin"><a href="/admin_all" class="li_a ">관리자 페이지</a></div>
                            <% end %>
                            <div class="li menu_enroll"><a href="enroll_mentor" class="li_a nav_enroll_mentor">멘토 등록하기</a></div>                     
                        </div>
                    </nav>
                </div>     
            </div>
            <div class="">
                <div class="service_introduce">
                    <h1 class="service_introduce_h1">델포이의 든든한 여행 멘토가 되어<br>수입을 창출하세요.</h1>
                    <h4 class="service_introduce_h2">당신이 알고 있는 많은 정보들과 간단한 도움을 제공함으로써, 당신은 어렵지 않게 수익을 낼 수 있습니다.</h4>
                </div>
            </div>  
        </div>
    </div>
</header>
<section> 
    <div class="wrapper_section2 margin_plus2">
        <h2 class="text_center">Delpoy 멘토 등록</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/enroll_process" method="post">
                  <div class="form-group">
                    <label for="mentor_area">멘토링 지역</label>
                    <input type="text" class="form-control enroll_input" name="mentor_area" id="mentor_area" placeholder="나라 혹은 도시">
                  </div>
                  <div class="form-group">
                    <label for="mentor_period">거주 기간</label>
                    <input type="text" class="form-control enroll_input" name="mentor_period" id="mentor_period" placeholder="ex) 20xx.xx.xx ~ xx.xx">
                  </div>
                  <div class="form-group">
                    <label for="mentor_content">멘토링 내용</label>
                    <textarea class="form-control" name = "mentor_content" id="mentor_content" rows="10"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">사진 첨부</label>
                    <input type="file" id="exampleInputFile">
                 </div>
                  <br>
                  <button type="submit" class="btn btn-default enroll_mentor_button ">멘토로 등록</button>
                </form>
            </div>
        </div>

    </div>
</section>
