
<div class="modal-content" style="margin-left:10%; margin-right:10%; margin-bottom:5%; margin-top:5%; width:80%">
<table class="table table-striped table-bordered" style="text-align:center">
   <tr>
        <td colspan="2"><%=@one_post.title%></td>
    </tr>
  <tr>
      <td>멘토링 지역</td>
      <td><%=@one_post.area%></td>
  </tr>
  <tr>
      <td>여행 기간</td>
      <td><%=@one_post.period%></td>
  </tr>
  <tr>
      <td>소개</td>
      <td><%=@one_post.content%></td>
  </tr>
</table>
</div>