/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'home';
 
 
 /* CSS Reset */

 .container,body,p,div,a,ul,h1,h2,h3,h4,h5,h6 {
  margin : 0px;
  padding : 0px;
  // border: 2px solid black;
 }
 
 .container {
  margin : 0 auto; 
 }
 
 a {
  text-decoration : none;
 }
 
 li {
  list-style-type : none;
 }
 
 img {
  vertical-align: top;
  /* 세로 정렬을 위한 것이므로 이것을 하면 border spacing 해결 */
 }


 /* CSS layout */
 
  .service1_section {
  background-color : #edefed;
  // position : relative;
  width : 100%;
 }
 
 .guide_section {
  width : 80%;
  margin : 0px auto 0px auto;
  padding-top : 100px;
  padding-bottom : 80px;
  text-align: center;
  color : #3A3D3B;
 }
 
  .search_section {
  // height : 100px;
  background-color : black;
  opacity : 0.8;
  position : relative;
  width : 100%;
 }

 .service2_section {
  background-image : url(community.jpg);
  background-repeat : none;
  background-size : cover;
  // position : relative;
  width : 100%;
 }
 
 .comm_section {
  width : 90%;
  margin : 0 auto;
  padding-top : 200px;
  text-align : center;
  color : white;
 }

 .footer_wrapper {
  background-color : #373839;
  width : 100%;
 }

/* CSS Customizing */
 
 .index_header {
  background-image : url(back.jpg);
  background-position : 50% 45%;
  background-size : cover;
  background-repeat : no-repeat;
 }
 
 
 #logo {
  width : 60px;
  margin: 30px 30px 30px 0px;
 }
 
 .menu_home, .menu_search_list {
  overflow : hidden;
  position : absolute;
  right : 0px;
 } 
 
 .menu_home li , .menu_search_list li {
  float : left;
  margin-left : 60px;

 }
 
 .menu_home li a {
  padding : 10px;
  display : block;

  color : white;
 }
 
 .menu_search_list li a {
  padding : 10px;
  display : block;
  color :black;
 }
 
 .menu_space {
  margin-top : 45px;
 }
 
 .index_p{
  color : white;
  margin : 100px auto 250px auto;
  text-align : center;
 }
 
 .index_p h1{
  font-size : 55px;
 }
 
 .index_p h4{
  margin-top : 20px;
 }
 


 .search_input {
  // position : absolute;
  // left : 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  margin : 0 auto;
  text-align: center;
  padding-top : 40px;
  padding-bottom : 40px;
 }

 
 .city {
  display: inline;
  font-size : 17px;
  width : 70%;
  height: 50px;
 }
 

 .button {
  display : inline;
  width : 15%;
  background-color : #27a8e0;
  font-size : 17px;
  border : 0px;
  padding : 0;
  height : 50px;
  color : white;
 }
 

 
 .guide_section h2 {
  font-size : 40px ;
  margin-bottom : 15px;
 }
 
 .guide_section > h4 {
  margin-bottom : 50px;
 }
 
 
 //
 
.guide_grid {
  overflow : hidden;
  margin : 0 -10px;
}

.guide_grid .item {
  width : 33.333333%;
  float : left;
  padding : 10px;
  box-sizing: border-box;
  /* margin 말고 padding 을 쓴다. margin 은 밖에 더 추가되는 기능이라서
  그리고 box-sizing 쓴디.*/
}

.guide_section .box {
  background-color: white;
  text-align : right;
}

.guide_section .box img {
  width : 100%;
}

.guide_section .box h4 {
  text-align : center;
  color : #3A3D3B;
  height : 30px;
  line-height: 30px;
  
  // border-top:3px solid #3A3D3B;
  // /* border 해도 이상한 마진이 생김 */
}

 .guide_section .box h3 {
  text-align : center;
  color : #3A3D3B;
  height : 40px;
  line-height: 40px;
}

 .comm_section h2 {
  font-size : 50px;
  margin-bottom : 20px;
 }
 
 .comm_section h4 {
  font-size : 23px;
 }
 
 .comm_section .comm_button {
  margin-top : 80px;
  margin-bottom : 170px;
  background-color : #27a8e0;
  font-size:17px;
  width : 15%;
  height : 50px;
  border : 0px;
 }
 
 .footer{
  padding : 50pxㅎ;
  margin : 0 auto;
  width : 80%;
  text-align : center;
  height : 150px;
  color : white;
 }
 
 .mentor_section {
  margin : 0 auto;
  width : 80%;
  padding-top : 100px;
  color : black;
  font-size:30px;
  text-align : center;
 }