<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <footer>
    <div class="footer_wrapper">
      <div class="footer">
        <h3>© Likelion 2016</h3>
      </div>
    </div>
  </footer>

</body>
</html>
